<% organization = Organization.first %>
<header class="app-header">
  <div class="app-header-inner">
    <a href="<%= root_path %>" class="app-brand">
      <%= image_tag "al-emblem.png", alt: "", class: "app-brand-mark" %>
      <span class="app-brand-text">
        <span class="app-brand-name"><%= organization&.name || "LegionPostTools" %></span>
        <% if organization&.locality.present? %>
          <span class="app-brand-loc"><%= organization.locality %></span>
        <% end %>
      </span>
    </a>

    <div class="app-user">
      <span class="app-user-name">
        <%= current_user.person.full_name %><% if current_user.person.current_role_label %> &middot; <%= current_user.person.current_role_label %><% end %>
      </span>
      <% if current_user.can?("manage_settings") %>
        <%= link_to "Admin", admin_root_path, class: "app-user-link" %>
      <% end %>
      <%= link_to "Settings", settings_security_path, class: "app-user-link" %>
      <%= button_to "Sign out", session_path, method: :delete, class: "app-user-link app-user-signout" %>
    </div>
  </div>
</header>
