<% organization = Organization.first %>
<header class="app-header">
  <div class="app-header-inner">
    <a href="<%= root_path %>" class="app-brand">
      <%= image_tag "al-emblem.png", alt: "", class: "app-brand-mark" %>
      <span class="app-brand-text">
        <span class="app-brand-name"><%= organization&.name || "LegionPostTools" %></span>
        <% if organization&.locality.present? %>
          <span class="app-brand-loc"><%= organization.locality %></span>
        <% end %>
      </span>
    </a>

    <div class="app-user">
      <span class="app-user-name">
        <%= current_user.person.full_name %><% if current_user.person.current_role_label %> &middot; <%= current_user.person.current_role_label %><% end %>
      </span>
      <span class="app-user-avatar" aria-hidden="true"><%= current_user.person.full_name.to_s.split.map { |w| w[0] }.first(2).join.upcase %></span>
      <%= button_to "Sign out", session_path, method: :delete, class: "app-user-link app-user-signout" %>
    </div>
  </div>
</header>
